{% extends 'base.html' %}
{% block css%}
<link rel="stylesheet" href="static/css/home.css" />
{% endblock %}

{% block content%}
<main class="main">
    <a type="button" href="/static/Thach_Nguyen_cv_itviec.pdf" class="btn_download"><img src="/static/icons/download.svg"
            alt="download button"></a>
    <div class="cv">
        <iframe class="cv_pdf" src="/static/Thach_Nguyen_cv_itviec.pdf#navpanes=0&scrollbar=0&toolbar=0"
            type="application/pdf" frameBorder="0" scrolling="no">
        </iframe>
    </div>
</main>
{% endblock %}

{% block footer %}
<div class="footer_content">
    <div class="footer_left">
        <p><em>Click my profile picture if you wish to see more</em></p>
    </div>

    <div class="footer_right">
        <p><em>Python, Flask, JS was used</em></p>
        <p><em><a href="https://github.com/Rocky8x/Me">Source: https://github.com/Rocky8x/Me</a></em></p>
    </div>
</div>
{% endblock %}
