{% extends "base.html" %}
{% block script %}
<script src="/static/js/loading.js"></script>
<script src="/static/js/monitor.js"></script>
{% endblock script %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/monitor.css') }}" />
{% endblock css %}
{% block content %}
<div class="m-table">
  <div class="brief-inf" onclick="showMore(this)" id="{{ blkInfo['height'] }}">
    <div id="payment-k" hidden>{{ paymentK }}</div>
    <div id="fullnode" hidden>{{ fullnode }}</div>
    <div id="poolId" hidden>{{ poolId }}</div>

    <div class="blkInfo">
      * Epoch: {{ blkInfo["epoch"] }},
      height: {{ blkInfo["height"] }},
      remain {{ blkInfo["remainB"] }} ~ {{ blkInfo["remainT"] }},
      block time: {{ blkInfo["blkTime"] }}</div>
  </div>
  <table>
    <thead>
      <th class="m-table-cell">#</th>
      <th class="m-table-cell">Keys</th>
      <th class="m-table-cell">Status</th>
      <th class="m-table-cell">Role</th>
      <th class="m-table-cell">Shard</th>
      <th class="m-table-cell">Next</th>
      <th class="m-table-cell">Sync</th>
      <th class="m-table-cell">%</th>
      <th class="m-table-cell">Slash</th>
      <th class="m-table-cell" colspan="2">Version</th>
      <th class="m-table-cell"></th>
    </thead>
    <tbody>
      {% for d in nodestat %}
      <tr onclick="getDetailStat(this)">
        <td class="m-table-cell">
          <div>{{ loop.index }}</div>
        </td>
        <td class="m-table-cell" id="key">
          <div>{{ d.get("MiningPubkey") }}</div>
        </td>
        <td class="m-table-cell">
          <div>{{ d.get("Status") }}</div>
        </td>
        <td class="m-table-cell">
          <div>{{ d.get("Role") }}</div>
        </td>
        <td class="m-table-cell">
          <div>{{ d.get("CommitteeChain") }}</div>
        </td>
        <td class="m-table-cell">
          <div>{{ d.get("nextEMsg") }}</div>
        </td>
        <td class="m-table-cell">
          <div>{{ d.get("SyncState") }}</div>
        </td>
        <td class="m-table-cell">
          <div>{{ d.get("VoteStat") }}</div>
        </td>
        <td class="m-table-cell">
          <div>{{ d.get("IsSlashed") }}</div>
        </td>
        <td class="m-table-cell">
          <div>
            {{ d.get("Version") }}
          </div>
        </td>
        <td class="m-table-cell">
          <div>
            {{ d.get("IsOldVersion") }}
          </div>
        </td>
        <td class="m-table-cell">
          <div>
            {{ d.get("lastEarn") }}
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}