html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

header {
    padding: 5px;
}


.main,
.header_content,
.footer_content {
    max-width: 800px;
    margin: 20px auto;
}

.lnk {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.lnk:hover {
    color: #f1f1f1;
}

.footer_content {
    color: darkgrey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_left,
.footer_right {
    margin: 5px;
    max-width: 50%;
}

.footer_right a {
    color: inherit;
    text-decoration: none;
    text-decoration-line: none;
    -moz-text-decoration-line: none;
}

.footer_left {
    align-self: flex-start;
}

.header_content {
    font-size: 20px;
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_separator {
    height: 5px;
    background-image: linear-gradient(to left, gold, gold 50%, #3f3b37 50%, #3f3b37);
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.header_menu_icon {
    width: 32px;
    border-radius: 8%;
    padding: 4px;
    background-color: whitesmoke;
}

.contact {
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
    padding-left: inherit;
    text-decoration: none;
    font-size: 0.8rem;
    color: whitesmoke;
    align-items: center;
}

.contact img {
    height: 28px;
    padding-right: 8px;
}

.header_avatar {
    width: 100px;
    border-radius: 50%;
}

.header_left {
    display: grid;
    align-content: center;
}

.header_right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 50%;
    overflow-x: hidden;
}

#sidebarBackground {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    overflow-x: hidden;
    margin: 0 0;
    background-color: rgba(1, 1, 1, 80%);
    justify-content: space-between;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.sizebar_upper {
    margin: 8px;
}

.sizebar_upper p {
    color: aquamarine;
    text-align: center;
}

.sizebar_lower {
    margin-bottom: 30px;
}

.sidebar .closebtn {
    position: relative;
    top: 0;
    left: 200px;
    font-size: 36px;
    text-decoration: none;
}

@media screen and (max-height: 450px) {

    /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

body {
    box-sizing: inherit;
    background-image: linear-gradient(to left, #3f3b37, #3f3b37 50%, gold 50%, gold);
}