.cv_pdf {
    height: 1110px;
    width: 100%;
}

.btn_download {
    text-decoration: none;
    padding: 10px;
    position: relative;
    top: 50px;
    left: 80%;
    background-color: rgba(255, 255, 255, 30%);
    color: gray;
    border-radius: 8px;
    border-color: rgba(255, 255, 255, 30%);
    cursor: pointer;
}

.btn_download:hover {
    background-color: rgba(1, 1, 1, 20%);
}

.btn_download img {
    width: 24px;
}
