.brief-inf {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    align-content: flex-start;
}

.m-table {
    display: flex;
    flex-direction: column;
    max-width: inherit;
    overflow-x: scroll;
    background-color: #3f3b37;
    color: gold;
    -ms-overflow-style: none;
    /*IEandEdge*/
    scrollbar-width: none;
    /*Firefox*/
    font-family: monospace;
    padding: 20px 0px 40px 0px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.m-table::-webkit-scrollbar {
    display: none;
}

.m-table table {
    margin: 5px auto;
    table-layout: fixed;
}

.m-table-cell {
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding: 0.5rem;
}

#key {
    direction: rtl;
    text-overflow: ellipsis;
    max-width: 9ch;
    overflow: hidden;
}

#subViewContainer td div {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.group-mpk {
    display: flex;
    flex-direction: column;
}

.group-mpk div {
    margin: 5px auto;
    padding: 5px 10px;
    overflow-wrap: anywhere;
}

#mpk {
    max-width: 50%;
}

@media screen and (max-height: 850px) {
    #mpk {
        max-width: 100%;
    }
}