#node-detail-bg {
    background-color: rgba(209, 209, 209, 0.8);
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

#node-detail-table {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 5%;
    left: 25%;
    z-index: 2;
    height: 0;
    width: 50%;
    overflow-x: hidden;
    scrollbar-width: none;
    margin: 0 0;
    background-color: #3f3b37;
    color: gold;
    justify-content: space-around;
    transition: ease-in .5s;
    -webkit-transition: ease-in .5s;
    -moz-transition: ease-in .5s;
    -ms-transition: ease-in .5s;
    -o-transition: ease-in .5s;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    scrollbar-width: none;
}

#node-detail-table::-webkit-scrollbar {
    display: none;
}

.brief-inf {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    align-content: flex-start;
}

#reward-inf {
    height: 0;
}

.m-table {
    display: flex;
    flex-direction: column;
    max-width: inherit;
    overflow-x: scroll;
    background-color: #3f3b37;
    color: gold;
    -ms-overflow-style: none;
    /*IEandEdge*/
    scrollbar-width: none;
    /*Firefox*/
    font-family: monospace;
    padding: 20px 0px 40px 0px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.m-table::-webkit-scrollbar {
    display: none;
}

table {
    margin: 5px auto;
    table-layout: fixed;
}

.m-table-cell {
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding: 0.5rem;
}

#key {
    direction: rtl;
    text-overflow: ellipsis;
    max-width: 9ch;
    overflow: hidden;
}

#k-val-pub,
#lbl_k-val-pub {
    margin: 20px 0px;
    width: 90%;
    margin: 20px auto;
}

#k-val-pub {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    border-style: solid;
    border-color: rgba(209, 209, 209, 0.8);
    overflow-wrap: break-word;
    padding: 5px 10px;
}